#content {
    min-height: 60vh;
    margin-top: 8vh;
    padding: 10px 20px;
}

#insurances-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.insurance-title {
    font-size: 36px;
    text-align: left;
    color: #bf8b5e;
}

.insurance-header {
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
    border-bottom: 2px solid;
    width: fit-content;
}

.insurance-text {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-indent: 3px;
}

.insurance-title-bold {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.insurance-list {
    padding-left: 0;
    margin-bottom: 10px;
}

.insurance-list-item {
    padding: 0;
    margin: 0 15px;
}


@media (max-width: 768px) {
    #insurances-container {
        width: 90%;
        padding: 15px;
    }

    .insurance-header {
        font-size: 24px;
    }

    .insurance-text {
        font-size: 14px;
    }

    .insurance-title-bold {
        font-size: 18px;
    }
}
